<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All messages</h1>
    <article>
        <%  for(let message of messages){%>
            <label for=""> <%= message.message_id %> </label>
            <p><%= message.title%></p>
            <p><%= message.content%></p>
            <p><%= message.email%></p>
        <%}%>
    </article>
    <div>
        <form action="messages" method="get">
             <button name="page" value="previous"> Previous </button>
             <%  let page = 1 
             for(var i=1; i <= count; i++) {%>
                <button name="page" value="<%= i%>"><%= i%></button>
                    <% page = page+ 4
            }%>
             <button name="page" value="next">Next</button>
         
        </form>
    </div>
</body>
</html>